{% extends "base.html" %}

{% block content %}
<h2 style="font-size: 1.8rem; color: var(--primary-color); margin-bottom: 20px;">Set a Budget</h2>

<form method="post" id="transaction-form">
    {% csrf_token %}
    <div class="form-group">
        <!-- Render the form fields, keeping the pre-filled data for editing -->
        {{ form.as_p }}
    </div>
    <button type="submit">
            Save
    </button>
</form>


<style>
form .form-group {
    margin-bottom: 20px;
}

form .form-group p {
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background-color: #2563eb;
}
</style>
{% endblock %}

